#total{
    width: 960px;
    height: auto;
    margin: auto; /*centraliza a divisão na página*/
}
#topo{
    width: 960px;
    height: auto;
    float: left;
    background-color: rgb(189, 64, 10);
 }
 #logo{
    width: 200px;
    height: 60px;
  /*margin-top:10px;
        top rigth bottom left*/
margin: 10px auto;
background-color:black

 }
 #banner{
    width: 960px;
    height: 300px;
    float: left;
    background-image: url("../imagem/banner.jpg");